In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn.preprocessing as sp
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

%matplotlib inline

In [25]:
df_train1 = pd.read_csv('train1.csv',parse_dates=['date'])
# df_test=pd.read_csv("test.csv",parse_dates=['date'])

In [26]:
#for 2017,using average speed to fill the missing data
df_range = pd.date_range("2017-01-01 00:00:00","2017-12-31 23:00:00",freq="1H")
df_2017 = pd.DataFrame(df_range,columns=["date"])
df_train = df_train1.merge(df_2017,on="date",how="outer")
df_train = df_train.fillna(value={"speed":df_train["speed"].mean()})

In [27]:
# complete time series
df_range2 = pd.date_range("2017-01-01 00:00:00","2018-12-31 23:00:00",freq="1H")
new_df2=pd.DataFrame(df_range2,columns=["date"])
df_all=df_train.merge(new_df2,on="date",how="outer")

In [28]:
#extract year,month,day,hour
def extract_date(df,column):
    df[column+'_year'] = df[column].apply(lambda x:x.year)
    df[column+'_month'] = df[column].apply(lambda x:x.month)
    df[column+'_day'] = df[column].apply(lambda x:x.day)
    df[column+'_hour'] = df[column].apply(lambda x:x.hour)
    df[column+'_week'] = df[column].apply(lambda x:x.isoweekday())#1 represents MON,7 represents SUN
    df[column+'_date'] = df[column].apply(lambda x:x.strftime('%Y-%m-%d'))
extract_date(df_all,'date')

In [29]:
df_all['date_date'] = pd.to_datetime(df_all['date_date'])

In [30]:
#holiday label
df_all.loc[df_all['date_date'].isin(
    ['2017-01-02','2017-01-28','2017-01-30','2017-01-31','2017-04-04','2017-04-14','2017-04-15','2017-04-17',
     '2017-05-01','2017-05-03','2017-05-30','2017-07-01','2017-10-02','2017-10-05','2017-10-28','2017-12-25','2017-12-26',
     '2018-01-01','2018-02-16','2018-02-17','2018-02-19','2018-03-30','2018-03-31','2018-04-02','2018-04-05',
     '2018-05-01','2018-05-22','2018-06-18','2018-07-02','2018-09-25','2018-10-01','2018-10-17','2018-12-25','2018-12-26']),'vacation']=1

df_all.loc[~df_all['date_date'].isin(
    ['2017-01-02','2017-01-28','2017-01-30','2017-01-31','2017-04-04','2017-04-14','2017-04-15','2017-04-17',
     '2017-05-01','2017-05-03','2017-05-30','2017-07-01','2017-10-02','2017-10-05','2017-10-28','2017-12-25','2017-12-26',
     '2018-01-01','2018-02-16','2018-02-17','2018-02-19','2018-03-30','2018-03-31','2018-04-02','2018-04-05',
     '2018-05-01','2018-05-22','2018-06-18','2018-07-02','2018-09-25','2018-10-01','2018-10-17','2018-12-25','2018-12-26']),'vacation']=0

In [31]:
#weekend label
df_all.loc[df_all['date_week'].isin([1, 2, 3,4, 5]), 'week_en'] = 1
df_all.loc[df_all['date_week'].isin([6, 7]), 'week_en'] = 2

# time bin
df_all.loc[df_all['date_hour'].isin([7, 8,9]), 'hour_en'] = 1
df_all.loc[df_all['date_hour'].isin([17, 18,19]), 'hour_en'] = 2

In [32]:
df_all['day_label'] = df_all['date_year'].astype('str')+df_all['date_month'].astype('str')+ df_all['date_day'].astype('str')

In [33]:
df_all.head()

,id,date,speed,date_year,date_month,date_day,date_hour,date_week,date_date,vacation,week_en,hour_en,season,day_label
0,0.0,2017-01-01 00:00:00,43.002930,2017,1,1,0,7,2017-01-01,0.0,3.0,3.0,1.0,201711
1,1.0,2017-01-01 01:00:00,46.118696,2017,1,1,1,7,2017-01-01,0.0,3.0,3.0,1.0,201711
2,2.0,2017-01-01 02:00:00,44.294158,2017,1,1,2,7,2017-01-01,0.0,3.0,3.0,1.0,201711
3,3.0,2017-01-01 03:00:00,41.067468,2017,1,1,3,7,2017-01-01,0.0,3.0,3.0,1.0,201711
4,4.0,2017-01-01 04:00:00,46.448653,2017,1,1,4,7,2017-01-01,0.0,3.0,3.0,1.0,201711

In [34]:
params = {
        'learning_rate': 0.1,
        'n_estimators': 2500,
        'subsample': 0.9,
        'colsample_bytree': 0.9,
        'max_depth': 10,
        'min_child_weight': 1,
        'reg_alpha': 2,
        'gamma': 2
    }

In [35]:
df_all = pd.get_dummies(df_all, columns=['week_en','hour_en'])
# df_all = pd.get_dummies(df_all, columns=['date_month', 'week_en','date_year','hour_en','date_hour','worse_rainy'])
df_all = pd.get_dummies(df_all, columns=['day_label'])
# df_all = pd.get_dummies(df_all, columns=['date_hour'])

df_all.head()

,id,date,speed,date_year,date_month,date_day,date_hour,date_week,date_date,vacation,...,day_label_2018928,day_label_2018929,day_label_201893,day_label_2018930,day_label_201894,day_label_201895,day_label_201896,day_label_201897,day_label_201898,day_label_201899
0,0.0,2017-01-01 00:00:00,43.002930,2017,1,1,0,7,2017-01-01,0.0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,2017-01-01 01:00:00,46.118696,2017,1,1,1,7,2017-01-01,0.0,...,0,0,0,0,0,0,0,0,0,0
2,2.0,2017-01-01 02:00:00,44.294158,2017,1,1,2,7,2017-01-01,0.0,...,0,0,0,0,0,0,0,0,0,0
3,3.0,2017-01-01 03:00:00,41.067468,2017,1,1,3,7,2017-01-01,0.0,...,0,0,0,0,0,0,0,0,0,0
4,4.0,2017-01-01 04:00:00,46.448653,2017,1,1,4,7,2017-01-01,0.0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
feature = df_all.columns.values.tolist()
train_feature = [x for x in feature if
                 x not in ['id', 'date','date_date','speed']]

train_df = df_all.loc[~df_all['speed'].isnull()]
test_df = df_all.loc[df_all['speed'].isnull()].copy()

print (train_feature)

['date_year', 'date_month', 'date_day', 'date_hour', 'date_week', 'vacation', 'season', 'week_en_1.0', 'week_en_3.0', 'hour_en_1.0', 'hour_en_2.0', 'hour_en_3.0', 'hour_en_4.0', 'hour_en_5.0', 'hour_en_6.0', 'day_label_2017101', 'day_label_20171010', 'day_label_20171011', 'day_label_20171012', 'day_label_20171013', 'day_label_20171014', 'day_label_20171015', 'day_label_20171016', 'day_label_20171017', 'day_label_20171018', 'day_label_20171019', 'day_label_2017102', 'day_label_20171020', 'day_label_20171021', 'day_label_20171022', 'day_label_20171023', 'day_label_20171024', 'day_label_20171025', 'day_label_20171026', 'day_label_20171027', 'day_label_20171028', 'day_label_20171029', 'day_label_2017103', 'day_label_20171030', 'day_label_20171031', 'day_label_2017104', 'day_label_2017105', 'day_label_2017106', 'day_label_2017107', 'day_label_2017108', 'day_label_2017109', 'day_label_201711', 'day_label_2017110', 'day_label_2017111', 'day_label_20171110', 'day_label_20171111', 'day_label_20171112', 'day_label_20171113', 'day_label_20171114', 'day_label_20171115', 'day_label_20171116', 'day_label_20171117', 'day_label_20171118', 'day_label_20171119', 'day_label_2017112', 'day_label_20171120', 'day_label_20171121', 'day_label_20171122', 'day_label_20171123', 'day_label_20171124', 'day_label_20171125', 'day_label_20171126', 'day_label_20171127', 'day_label_20171128', 'day_label_20171129', 'day_label_2017113', 'day_label_20171130', 'day_label_2017114', 'day_label_2017115', 'day_label_2017116', 'day_label_2017117', 'day_label_2017118', 'day_label_2017119', 'day_label_201712', 'day_label_2017120', 'day_label_2017121', 'day_label_20171210', 'day_label_20171211', 'day_label_20171212', 'day_label_20171213', 'day_label_20171214', 'day_label_20171215', 'day_label_20171216', 'day_label_20171217', 'day_label_20171218', 'day_label_20171219', 'day_label_2017122', 'day_label_20171220', 'day_label_20171221', 'day_label_20171222', 'day_label_20171223', 'day_label_20171224', 'day_label_20171225', 'day_label_20171226', 'day_label_20171227', 'day_label_20171228', 'day_label_20171229', 'day_label_2017123', 'day_label_20171230', 'day_label_20171231', 'day_label_2017124', 'day_label_2017125', 'day_label_2017126', 'day_label_2017127', 'day_label_2017128', 'day_label_2017129', 'day_label_201713', 'day_label_2017130', 'day_label_2017131', 'day_label_201714', 'day_label_201715', 'day_label_201716', 'day_label_201717', 'day_label_201718', 'day_label_201719', 'day_label_201721', 'day_label_2017210', 'day_label_2017211', 'day_label_2017212', 'day_label_2017213', 'day_label_2017214', 'day_label_2017215', 'day_label_2017216', 'day_label_2017217', 'day_label_2017218', 'day_label_2017219', 'day_label_201722', 'day_label_2017220', 'day_label_2017221', 'day_label_2017222', 'day_label_2017223', 'day_label_2017224', 'day_label_2017225', 'day_label_2017226', 'day_label_2017227', 'day_label_2017228', 'day_label_201723', 'day_label_201724', 'day_label_201725', 'day_label_201726', 'day_label_201727', 'day_label_201728', 'day_label_201729', 'day_label_201731', 'day_label_2017310', 'day_label_2017311', 'day_label_2017312', 'day_label_2017313', 'day_label_2017314', 'day_label_2017315', 'day_label_2017316', 'day_label_2017317', 'day_label_2017318', 'day_label_2017319', 'day_label_201732', 'day_label_2017320', 'day_label_2017321', 'day_label_2017322', 'day_label_2017323', 'day_label_2017324', 'day_label_2017325', 'day_label_2017326', 'day_label_2017327', 'day_label_2017328', 'day_label_2017329', 'day_label_201733', 'day_label_2017330', 'day_label_2017331', 'day_label_201734', 'day_label_201735', 'day_label_201736', 'day_label_201737', 'day_label_201738', 'day_label_201739', 'day_label_201741', 'day_label_2017410', 'day_label_2017411', 'day_label_2017412', 'day_label_2017413', 'day_label_2017414', 'day_label_2017415', 'day_label_2017416', 'day_label_2017417', 'day_label_2017418', 'day_label_2017419', 'day_label_201742', 'day_label_2017420', 'day_label_2017421', 'day_label_2017422', 'day_label_2017423', 'day_label_2017424', 'day_label_2017425', 'day_label_2017426', 'day_label_2017427', 'day_label_2017428', 'day_label_2017429', 'day_label_201743', 'day_label_2017430', 'day_label_201744', 'day_label_201745', 'day_label_201746', 'day_label_201747', 'day_label_201748', 'day_label_201749', 'day_label_201751', 'day_label_2017510', 'day_label_2017511', 'day_label_2017512', 'day_label_2017513', 'day_label_2017514', 'day_label_2017515', 'day_label_2017516', 'day_label_2017517', 'day_label_2017518', 'day_label_2017519', 'day_label_201752', 'day_label_2017520', 'day_label_2017521', 'day_label_2017522', 'day_label_2017523', 'day_label_2017524', 'day_label_2017525', 'day_label_2017526', 'day_label_2017527', 'day_label_2017528', 'day_label_2017529', 'day_label_201753', 'day_label_2017530', 'day_label_2017531', 'day_label_201754', 'day_label_201755', 'day_label_201756', 'day_label_201757', 'day_label_201758', 'day_label_201759', 'day_label_201761', 'day_label_2017610', 'day_label_2017611', 'day_label_2017612', 'day_label_2017613', 'day_label_2017614', 'day_label_2017615', 'day_label_2017616', 'day_label_2017617', 'day_label_2017618', 'day_label_2017619', 'day_label_201762', 'day_label_2017620', 'day_label_2017621', 'day_label_2017622', 'day_label_2017623', 'day_label_2017624', 'day_label_2017625', 'day_label_2017626', 'day_label_2017627', 'day_label_2017628', 'day_label_2017629', 'day_label_201763', 'day_label_2017630', 'day_label_201764', 'day_label_201765', 'day_label_201766', 'day_label_201767', 'day_label_201768', 'day_label_201769', 'day_label_201771', 'day_label_2017710', 'day_label_2017711', 'day_label_2017712', 'day_label_2017713', 'day_label_2017714', 'day_label_2017715', 'day_label_2017716', 'day_label_2017717', 'day_label_2017718', 'day_label_2017719', 'day_label_201772', 'day_label_2017720', 'day_label_2017721', 'day_label_2017722', 'day_label_2017723', 'day_label_2017724', 'day_label_2017725', 'day_label_2017726', 'day_label_2017727', 'day_label_2017728', 'day_label_2017729', 'day_label_201773', 'day_label_2017730', 'day_label_2017731', 'day_label_201774', 'day_label_201775', 'day_label_201776', 'day_label_201777', 'day_label_201778', 'day_label_201779', 'day_label_201781', 'day_label_2017810', 'day_label_2017811', 'day_label_2017812', 'day_label_2017813', 'day_label_2017814', 'day_label_2017815', 'day_label_2017816', 'day_label_2017817', 'day_label_2017818', 'day_label_2017819', 'day_label_201782', 'day_label_2017820', 'day_label_2017821', 'day_label_2017822', 'day_label_2017823', 'day_label_2017824', 'day_label_2017825', 'day_label_2017826', 'day_label_2017827', 'day_label_2017828', 'day_label_2017829', 'day_label_201783', 'day_label_2017830', 'day_label_2017831', 'day_label_201784', 'day_label_201785', 'day_label_201786', 'day_label_201787', 'day_label_201788', 'day_label_201789', 'day_label_201791', 'day_label_2017910', 'day_label_2017911', 'day_label_2017912', 'day_label_2017913', 'day_label_2017914', 'day_label_2017915', 'day_label_2017916', 'day_label_2017917', 'day_label_2017918', 'day_label_2017919', 'day_label_201792', 'day_label_2017920', 'day_label_2017921', 'day_label_2017922', 'day_label_2017923', 'day_label_2017924', 'day_label_2017925', 'day_label_2017926', 'day_label_2017927', 'day_label_2017928', 'day_label_2017929', 'day_label_201793', 'day_label_2017930', 'day_label_201794', 'day_label_201795', 'day_label_201796', 'day_label_201797', 'day_label_201798', 'day_label_201799', 'day_label_2018101', 'day_label_20181010', 'day_label_20181011', 'day_label_20181012', 'day_label_20181013', 'day_label_20181014', 'day_label_20181015', 'day_label_20181016', 'day_label_20181017', 'day_label_20181018', 'day_label_20181019', 'day_label_2018102', 'day_label_20181020', 'day_label_20181021', 'day_label_20181022', 'day_label_20181023', 'day_label_20181024', 'day_label_20181025', 'day_label_20181026', 'day_label_20181027', 'day_label_20181028', 'day_label_20181029', 'day_label_2018103', 'day_label_20181030', 'day_label_20181031', 'day_label_2018104', 'day_label_2018105', 'day_label_2018106', 'day_label_2018107', 'day_label_2018108', 'day_label_2018109', 'day_label_201811', 'day_label_2018110', 'day_label_2018111', 'day_label_20181110', 'day_label_20181111', 'day_label_20181112', 'day_label_20181113', 'day_label_20181114', 'day_label_20181115', 'day_label_20181116', 'day_label_20181117', 'day_label_20181118', 'day_label_20181119', 'day_label_2018112', 'day_label_20181120', 'day_label_20181121', 'day_label_20181122', 'day_label_20181123', 'day_label_20181124', 'day_label_20181125', 'day_label_20181126', 'day_label_20181127', 'day_label_20181128', 'day_label_20181129', 'day_label_2018113', 'day_label_20181130', 'day_label_2018114', 'day_label_2018115', 'day_label_2018116', 'day_label_2018117', 'day_label_2018118', 'day_label_2018119', 'day_label_201812', 'day_label_2018120', 'day_label_2018121', 'day_label_20181210', 'day_label_20181211', 'day_label_20181212', 'day_label_20181213', 'day_label_20181214', 'day_label_20181215', 'day_label_20181216', 'day_label_20181217', 'day_label_20181218', 'day_label_20181219', 'day_label_2018122', 'day_label_20181220', 'day_label_20181221', 'day_label_20181222', 'day_label_20181223', 'day_label_20181224', 'day_label_20181225', 'day_label_20181226', 'day_label_20181227', 'day_label_20181228', 'day_label_20181229', 'day_label_2018123', 'day_label_20181230', 'day_label_20181231', 'day_label_2018124', 'day_label_2018125', 'day_label_2018126', 'day_label_2018127', 'day_label_2018128', 'day_label_2018129', 'day_label_201813', 'day_label_2018130', 'day_label_2018131', 'day_label_201814', 'day_label_201815', 'day_label_201816', 'day_label_201817', 'day_label_201818', 'day_label_201819', 'day_label_201821', 'day_label_2018210', 'day_label_2018211', 'day_label_2018212', 'day_label_2018213', 'day_label_2018214', 'day_label_2018215', 'day_label_2018216', 'day_label_2018217', 'day_label_2018218', 'day_label_2018219', 'day_label_201822', 'day_label_2018220', 'day_label_2018221', 'day_label_2018222', 'day_label_2018223', 'day_label_2018224', 'day_label_2018225', 'day_label_2018226', 'day_label_2018227', 'day_label_2018228', 'day_label_201823', 'day_label_201824', 'day_label_201825', 'day_label_201826', 'day_label_201827', 'day_label_201828', 'day_label_201829', 'day_label_201831', 'day_label_2018310', 'day_label_2018311', 'day_label_2018312', 'day_label_2018313', 'day_label_2018314', 'day_label_2018315', 'day_label_2018316', 'day_label_2018317', 'day_label_2018318', 'day_label_2018319', 'day_label_201832', 'day_label_2018320', 'day_label_2018321', 'day_label_2018322', 'day_label_2018323', 'day_label_2018324', 'day_label_2018325', 'day_label_2018326', 'day_label_2018327', 'day_label_2018328', 'day_label_2018329', 'day_label_201833', 'day_label_2018330', 'day_label_2018331', 'day_label_201834', 'day_label_201835', 'day_label_201836', 'day_label_201837', 'day_label_201838', 'day_label_201839', 'day_label_201841', 'day_label_2018410', 'day_label_2018411', 'day_label_2018412', 'day_label_2018413', 'day_label_2018414', 'day_label_2018415', 'day_label_2018416', 'day_label_2018417', 'day_label_2018418', 'day_label_2018419', 'day_label_201842', 'day_label_2018420', 'day_label_2018421', 'day_label_2018422', 'day_label_2018423', 'day_label_2018424', 'day_label_2018425', 'day_label_2018426', 'day_label_2018427', 'day_label_2018428', 'day_label_2018429', 'day_label_201843', 'day_label_2018430', 'day_label_201844', 'day_label_201845', 'day_label_201846', 'day_label_201847', 'day_label_201848', 'day_label_201849', 'day_label_201851', 'day_label_2018510', 'day_label_2018511', 'day_label_2018512', 'day_label_2018513', 'day_label_2018514', 'day_label_2018515', 'day_label_2018516', 'day_label_2018517', 'day_label_2018518', 'day_label_2018519', 'day_label_201852', 'day_label_2018520', 'day_label_2018521', 'day_label_2018522', 'day_label_2018523', 'day_label_2018524', 'day_label_2018525', 'day_label_2018526', 'day_label_2018527', 'day_label_2018528', 'day_label_2018529', 'day_label_201853', 'day_label_2018530', 'day_label_2018531', 'day_label_201854', 'day_label_201855', 'day_label_201856', 'day_label_201857', 'day_label_201858', 'day_label_201859', 'day_label_201861', 'day_label_2018610', 'day_label_2018611', 'day_label_2018612', 'day_label_2018613', 'day_label_2018614', 'day_label_2018615', 'day_label_2018616', 'day_label_2018617', 'day_label_2018618', 'day_label_2018619', 'day_label_201862', 'day_label_2018620', 'day_label_2018621', 'day_label_2018622', 'day_label_2018623', 'day_label_2018624', 'day_label_2018625', 'day_label_2018626', 'day_label_2018627', 'day_label_2018628', 'day_label_2018629', 'day_label_201863', 'day_label_2018630', 'day_label_201864', 'day_label_201865', 'day_label_201866', 'day_label_201867', 'day_label_201868', 'day_label_201869', 'day_label_201871', 'day_label_2018710', 'day_label_2018711', 'day_label_2018712', 'day_label_2018713', 'day_label_2018714', 'day_label_2018715', 'day_label_2018716', 'day_label_2018717', 'day_label_2018718', 'day_label_2018719', 'day_label_201872', 'day_label_2018720', 'day_label_2018721', 'day_label_2018722', 'day_label_2018723', 'day_label_2018724', 'day_label_2018725', 'day_label_2018726', 'day_label_2018727', 'day_label_2018728', 'day_label_2018729', 'day_label_201873', 'day_label_2018730', 'day_label_2018731', 'day_label_201874', 'day_label_201875', 'day_label_201876', 'day_label_201877', 'day_label_201878', 'day_label_201879', 'day_label_201881', 'day_label_2018810', 'day_label_2018811', 'day_label_2018812', 'day_label_2018813', 'day_label_2018814', 'day_label_2018815', 'day_label_2018816', 'day_label_2018817', 'day_label_2018818', 'day_label_2018819', 'day_label_201882', 'day_label_2018820', 'day_label_2018821', 'day_label_2018822', 'day_label_2018823', 'day_label_2018824', 'day_label_2018825', 'day_label_2018826', 'day_label_2018827', 'day_label_2018828', 'day_label_2018829', 'day_label_201883', 'day_label_2018830', 'day_label_2018831', 'day_label_201884', 'day_label_201885', 'day_label_201886', 'day_label_201887', 'day_label_201888', 'day_label_201889', 'day_label_201891', 'day_label_2018910', 'day_label_2018911', 'day_label_2018912', 'day_label_2018913', 'day_label_2018914', 'day_label_2018915', 'day_label_2018916', 'day_label_2018917', 'day_label_2018918', 'day_label_2018919', 'day_label_201892', 'day_label_2018920', 'day_label_2018921', 'day_label_2018922', 'day_label_2018923', 'day_label_2018924', 'day_label_2018925', 'day_label_2018926', 'day_label_2018927', 'day_label_2018928', 'day_label_2018929', 'day_label_201893', 'day_label_2018930', 'day_label_201894', 'day_label_201895', 'day_label_201896', 'day_label_201897', 'day_label_201898', 'day_label_201899']

In [37]:
X = train_df[train_feature].values
y = train_df['speed'].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)

eval_set = [(X_test, y_test)]

In [38]:
regressor = xgb.XGBRegressor(learning_rate=params['learning_rate'], n_estimators=params['n_estimators'],
                             booster='gbtree', objective='reg:linear', n_jobs=-1, subsample=params['subsample'],
                             colsample_bytree=params['colsample_bytree'], random_state=0,
                             max_depth=params['max_depth'], gamma=params['gamma'],
                             min_child_weight=params['min_child_weight'], reg_alpha=params['reg_alpha'])

# regressor.fit(X_train, y_train, verbose=True, early_stopping_rounds=10,eval_set=eval_set)
regressor.fit(X_train, y_train, verbose=True,eval_set=eval_set)
predict_ytrain=regressor.predict(X_train)
predict_ytest=regressor.predict(X_test)
error1 = mean_squared_error(y_train,predict_ytrain)
error2 = mean_squared_error(y_test,predict_ytest)
# regressor.fit(X, y, verbose=True, eval_set=eval_set)
# predict_y=regressor.predict(X)
# error = mean_squared_error(y,predict_y)
print(error1)
print(error2)
test_df['prediction'] = regressor.predict(test_df[train_feature].values)

[23:01:26] WARNING: /Users/gaowanqi/xgboost/src/objective/regression_obj.cu:170: reg:linear is now deprecated in favor of reg:squarederror.
[2499]	validation_0-rmse:3.58396
1.9595544850736772
12.844750124280852
       date_year  date_month  date_day  date_hour  date_week  vacation  \
14016       2018           1         1          2          1       1.0
14017       2018           1         1          5          1       1.0
14018       2018           1         1          7          1       1.0
14019       2018           1         1          8          1       1.0
14020       2018           1         1         10          1       1.0

       season  week_en_1.0  week_en_3.0  hour_en_1.0  ...  day_label_2018928  \
14016     1.0            1            0            0  ...                  0
14017     1.0            1            0            0  ...                  0
14018     1.0            1            0            0  ...                  0
14019     1.0            1            0            0  ...                  0
14020     1.0            1            0            0  ...                  0

       day_label_2018929  day_label_201893  day_label_2018930  \
14016                  0                 0                  0
14017                  0                 0                  0
14018                  0                 0                  0
14019                  0                 0                  0
14020                  0                 0                  0

       day_label_201894  day_label_201895  day_label_201896  day_label_201897  \
14016                 0                 0                 0                 0
14017                 0                 0                 0                 0
14018                 0                 0                 0                 0
14019                 0                 0                 0                 0
14020                 0                 0                 0                 0

       day_label_201898  day_label_201899
14016                 0                 0
14017                 0                 0
14018                 0                 0
14019                 0                 0
14020                 0                 0

[5 rows x 709 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3504 entries, 14016 to 17519
Columns: 709 entries, date_year to day_label_201899
dtypes: float64(2), int64(5), uint8(702)
memory usage: 2.6 MB
None

In [18]:
df_test=pd.read_csv("test.csv",parse_dates=['date'])

In [19]:
df_result=pd.merge(df_test,test_df[['prediction','date']],on='date',how='left')

In [20]:
df_result=df_result.drop(['date','id'],axis=1)

In [21]:
df_result.to_csv('df_result.csv', header=True,index=True,sep=';', mode='w')

In [22]:
df_result

      prediction
0      48.447571
1      48.068596
2      37.840508
3      26.204849
4      38.809216
...          ...
3499   13.312586
3500   26.234112
3501   47.684368
3502   41.867733
3503   45.426811

[3504 rows x 1 columns]